* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.nav-bar {
  height:15vh;
  background-color: #FFF7ED ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:3em;
  padding-right:3em;
}

.logo-img {
  width:15rem;
}

.profile-icon{
  width:1.8em;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:25%;
}

.menu_list a {
  text-decoration: none;
  color:#161616;
}

.underline {
  text-decoration: underline;
}


.main-content {
  min-height: 75vh;
}

.home-content {
  color:white;
  background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/bg1.png');
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-content > h1 {
  font-size:4rem;
  margin-left:4rem;
}

.home-content > p {
  font-size:1.2rem;
  max-width: 80%;
}

.main-button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-width:45%;
  background-color: #FF8C38;
  color:white;
  border:none;
  padding-top:0.5em;
  padding-bottom:0.5em;
  border-radius: 5px;
}

.about-content {
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  display: block;
  width: auto;
  height:25vh;
  margin:0 auto;
}

.about-content-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  width:80%;
  min-height:16vh;
  margin-top:2em;
}

.explore {
  margin-top:3vh;
  margin-bottom: 1.5vh;
  min-height:20vh ;
  width:50%;
  background-color: #FFCC8D;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vh 5vh;
}

.about-content-link {
  margin-top:0.6em;
  border: none;
  font-size:1.2rem;
  border-radius: 5px;
  color:white;
  background-color: black;
  padding:0.5em 0.6em;
  text-decoration: none;
}

.footer {
  background-color: #252525 ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color:#AAAAAA;
  font-size:1rem;
}

.van a {
  text-decoration: none;
  color:inherit;
}

.van_img {
  width: 150px;
  border-radius: 5px;
}

.vans-main-container {
  min-height: 75vh;
  background-color: #FFF7ED;
}

.vans-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 1rem;
}

.vans-main-container-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap:1rem;
  padding-left:5rem;
  margin-bottom: 1rem;
}

.vans-main-container-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}


.clear-filter {
  cursor:pointer;
  background-color: #FFF7ED;
  border:none;
  color: #4D4D4D;
  font-size:0.9rem;
  margin-left:0.5em;
  align-self: center;
  text-decoration: underline;
}

.van-desc {
  font-weight: bold;
  display: flex;
  font-size:0.8rem;
  justify-content: space-between;
}

.van-desc > .van-name {
  font-size:1rem;
  margin-right:1rem;
}

.van-price > span {
  font-weight: normal;
  display: block;
}

.van-price {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor:pointer;
  padding:0.3rem 0.7rem;
  border:none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
}


.simple-btn,.btn1:hover {
  background-color: #E17654 ;
  color: #FFEAD0 ;
  transition:0.3s;
}

.luxury-btn, .btn2:hover {
  background-color: #161616 ;
  color: #FFEAD0 ;
  transition:0.3s;
}

.rugged-btn,.btn3:hover {
  background-color: #115E59 ;
  color: #FFEAD0;  
  transition:0.3s;
}

/* vans details */
.back {
  color:inherit;
  text-align: left;
  align-self: self-start;
  text-decoration: underline;
  margin-left:7rem;
  margin-bottom: 1vh;
}

.vans-details-container {
  min-height: 75vh;
  background-color: #FFF7ED;
}

.van-img-details{
  max-width:15rem;
}

.van-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin:0 auto;
}

.van-details > button {
  margin-left:-11em;
  margin-top:2em;
}

.van-details-content {
  margin-top:5vh;
  min-height: 30vh;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  row-gap: 2vh;
}

.van-details-content > .price {
  font-weight: 700;
}

.van-details-content > .price > span {
  font-weight: 300;
}

.filter-btn {
  align-self: self-start;
}

/*  host pages */
.host-links {
  height: 8vh;
  background-color: #FFF7ED;
  display: flex;
  padding-left:2.5em;
  column-gap: 2.5em;
}

.host-links a {
  color:#4D4D4D;
  text-decoration: none;
}

.van-host-container {
  background-color: #FFF7ED;
  min-height:70vh;
  padding-left:2em;
}

.vans-by-host {
  margin:0 auto;
  margin-top:2em;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap:10px;
  max-height: 50vh;
  overflow: scroll;
}

.single-van {
  background-color: #FFFFFF;
  display: flex;
  max-height:100px;
  border-radius:5px;
  align-items: center;
  color: #4D4D4D;
}

.single-van img {
  width:100px;
  padding:10px;
  border-radius: 20%;
}

.van-name {
  font-weight: bold;
  color:black;
  font-size:1.5rem;
}

.vans-by-host > .van-link {
  text-decoration: none;
}

.back-link {
  text-decoration: underline;
  color:#4D4D4D;
}

.van-host-details-links a {
  text-decoration: none;
  color:#4D4D4D;
  
}

.van-host-details-links {
  margin-top:2em;
  display: flex;
  column-gap: 2em;
  margin-left:2em;
  margin-bottom:0.5em;
}

.van-details-by-host{
  margin:0 auto;
  margin-top:2em;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  row-gap:10px;
  margin-left:2em;
  align-items: center;
}

.van-details-by-host > img {
  width:120px;
}

.van-host-details-container {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top:0.5em;
  padding-bottom: 1em;
  max-width: 50%;
  height:63vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.van-profile {
  display: flex;
  flex-direction: column;
  margin-left:2em;
  height: 14vh;
  justify-content: space-between;
}

.van-host-details-content {
  margin-left:2em;
  min-height: 15vh;
  padding-right:1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.van-host-details-content > .details {
  font-weight: bold;
  margin-top:1em;
}

.van-host-details-content > .details span {
  font-weight: normal;
}

.van-host-details-content > .pricing {
  margin-top:50px;
  font-size:1.5rem;
}

.van-host-details-content > .pricing span {
  font-weight: 200;
}

.van-host-details-content > img {
  width:100px;
  margin-top:1em;
}

/* not found */
.not-found-container {
  background-color: #FFF7ED;
  min-height:75vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.not-found-container h1{
  font-size:4.8rem;
  margin-left:5rem;
  margin-bottom: 3rem;
  margin-right:4rem;
}

.redirect-home {
  display: block;
  margin:0 auto;
  border:none;
  width:50%;
  padding:1.3rem 2rem;
  color:white;
  background-color: black;
  border-radius:10px;
  font-size:1.4rem;
  font-weight:bold;
  cursor: pointer;
}

.not-found-link {
  text-decoration: none;
}

/* login form */
.login-form-container {
  min-height: 75vh;
  background-color: #FFF7ED;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.login-form {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  width:90%;
  min-height:50vh;
  align-items: center;
}

.email-input {
  margin-top:3em;
}
input {
  border:1px solid #AAAAAA;
  border-radius: 5px;
  display: block;
  width:60vh;
  height:3em;
  color:#4D4D4D;
}

.sign-in-btn{
  width:60vh;
}

.login-create-msg {
  font-weight: bold;
  color:#FF8C38;
}

.error-msg {
  color:rgb(254, 107, 107);
}

.logout-btn {
  border:none;
  font-size:1rem;
  background-color: #FFF7ED;
  cursor:pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFEAD0;
  margin-left:-2em;
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  height:25vh;
}

.dashboard-header > .dashboard-income {
  display: flex;
  justify-content: space-between;
  padding-right:1.2em;
}

.dashboard-review-scores {
  background-color: #FFDDB2;
  margin-left:-2em;
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  height:13vh;
}

.dashboard-list-vans {
  margin-top:2em;
  margin-bottom: 2em;
}

.dashboard-list-vans > .content {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
  padding-bottom: 1.2em;
  
}


.van-details-content-box {
  display: flex;
  background-color: #FFFFFF;
  margin-right:2em;
  margin-bottom: 0.7em;
  padding-top:0.7em;
  padding-bottom: 0.7em;
  border-radius: 10px;
  position: relative;
}

.van-details-content-box >img {
  margin-left:2em;
  width:50px;
  border-radius: 5px;
}

.van-details-content-box >.details{
  display: flex;
  flex-direction: column;
  padding-left:2em;
}

.van-details-container {
  background-color: #FFF7ED;
  min-height:70vh;
  padding-left:2em;
}

.van-details-container > .income, .van-details-container > .your-reviews {
  padding-top:0.6em;
  padding-bottom:0.6em;
}

.van-details-container > .last {
  color:#4D4D4D;
  margin-bottom: 0.7em;
}

.van-details-container  >.transction-header {
  margin-top:1em;
}

.btn-edit {
  border:none;
  background-color: #FFFFFF ;
  position:absolute;
  right:1rem;
  top:1.6rem;
}

.transaction-details > .transaction-amount{
  font-size:1.5em;
}

.transaction-header {
  color:#4D4D4D;
  margin-top:1em;
  display: flex;
  justify-content: space-between;
  margin-right:1.2em;
}

.transaction-box {
  display: flex;
  flex-direction: column;
  margin-top:2em;
  
}

.transaction-details {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left:4em;
  padding-right:4em;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom: 2em;
  margin-right:2em;
  border-radius: 5px;
}

.review-container-header {
  display: flex;
  align-items: center;
}

.review-container-header > .last {
  margin-left:1em;
}

.rating{
  margin-top:0.6em;
}

.score {
  font-size:1.5rem;
  margin-right: 1rem;
}

.reviews-header{
  padding-top:1em;
}

.review-text {
  margin-top:0.7em;
}

.review-content-box {
  margin-top:1em;
  padding-bottom: 1em;
  width:80%;
  border-bottom: 1px solid #C7C7C7 ;
}

/* charts */
.income-chart {
  margin-left:-2rem;
  margin:0 auto;
  width:100vh;
  max-height: 50vh;
  background-color: #FFF7ED;
}

.review-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-height: 30vh;
}

/* util */
.bold {
  font-weight: bold;
}

.normal {
  font-weight: 350;
}

.gray {
  color: #8C8C8C;
}

.underline {
  text-decoration: underline;
}

